h1 {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
}

/*div {
  text-align: center;
  border-radius: 1px;

  padding: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}*/

button {
  height: 50px;
  width: auto;
  background: #016efd;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  font-family: "Gill Sans";
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 40px;
}
