<h1 >Boook a Fight</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<form [formGroup]="fightForm" >
  <div class="grid">
    <div  class="bg-warning ">
    <label>Full Name : </label>
    <input formControlName="fullname" >

    </div>

  </div>
  <div class="dropdown" >
    <label>From : </label>
    <select  formControlName="from" class="btn btn-primary dropdown-toggle">

      <option >Brunei Darussalam</option>
      <option >Cambodia</option>
      <option >Indonesia</option>
      <option >Laos</option>
      <option >Malaysia</option>
      <option >Myanmar</option>
      <option >Philippines</option>
      <option >Singapore</option>
      <option >Vietnam</option>
      <option >Thailand</option>
      <option >English</option>
      <option >China</option>
      <option >Jpan</option>

    </select>
  </div>
  <div div class="dropdown" >
    <label>To : </label>
    <select  formControlName="to" class="btn btn-success dropdown-toggle">

      <option >Brunei Darussalam</option>
      <option >Cambodia</option>
      <option >Indonesia</option>
      <option >Laos</option>
      <option >Malaysia</option>
      <option >Myanmar</option>
      <option >Philippines</option>
      <option >Singapore</option>
      <option >Vietnam</option>
      <option >Thailand</option>
      <option >English</option>
      <option >China</option>
      <option >Jpan</option>
    </select>
  </div>
  <div >
    <div >
      <label class="mb-2">Type Trip </label>
      <div class="form-check" ><label ><input class="form-check-input" type="radio" formControlName="type" value="Oneway"/>Oneway</label></div>
      <div class="form-check"><label ><input  class="form-check-input" type="radio" formControlName="type" value="Return"/>Return</label></div>
  </div>
    <div class="bg-success p-2 text-dark bg-opacity-75">
      <label >Departure :</label>
      <input matInput [matDatepicker]="picker" formControlName="departure">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  <div class="bg-success p-2 text-dark bg-opacity-50">
      <label >Arrival :</label>
      <input matInput [matDatepicker]="picker2"formControlName="arrival">
      <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
  </div>
  <div class="bg-danger p-2 text-dark bg-opacity-75">
  <label>Adults<br><input [ngModel]="fight.adults" type="number" formControlName="adults" class="input-number"/></label>
</div>
<div class="bg-danger p-2 text-dark bg-opacity-50">
  <label>Children<br><input [ngModel]="fight.children" type="number" formControlName="children" class="input-number"/> </label>
</div>
<div class="bg-danger p-2 text-dark bg-opacity-25">
  <label>Infants<br><input [ngModel]="fight.infants" type="number" formControlName="infants" class="input-number"/></label>
</div>
<div >
    <button [disabled]="fightForm.invalid"(click)="onSubmit(fightForm)">Submit to</button>
</div>
  </div>
</form>




<table class="table table-bordered ">
  <thead class="table-danger">
    <tr class="table-danger">
      <th>Full Name</th><th>From</th><th>To</th><th>Type</th><th>departure</th><th>arrival</th><th>adults</th><th>children</th><th>infants</th>
    </tr>
  </thead>

  <tbody>
    <tr class="table success" *ngFor="let f of fights">
      <td>{{f.fullName}}</td>
      <td>{{f.from}}</td>
      <td>{{f.to}}</td>
      <td>{{f.type}}</td>
      <td>{{f.departure}}</td>
      <td>{{f.arrival}}</td>
      <td>{{f.adults}}</td>
      <td>{{f.children}}</td>
      <td>{{f.infants}}</td>
    </tr>
  </tbody>
</table>
